doctype html
html(lang='en')
  head
    title= 'Users'
  body
    h4#author(title='GossJS') Anton_Galkin
    #container
      p Список логинов:
      ol
        each item in items
          li= item.login
